<!--<h2>Login</h2>
<form>
        <label for="username">Username: </label>
        <input type="text" formControlName="username" class="form-control" >

    <br><br>

        <label for="password">Password: </label>
        <input type="password" formControlName="password" class="form-control" >
      
        <br><br><br>
      <button type="button" name="submit" (click)="submit()">submit</button>

    </form>-->



    <!--<h2>Login</h2>
<form #loginData = "ngForm" (ngSubmit) = "loginUser(loginData.value)">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password"  required />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
        <input type="submit" value="Login" /> -->
        


        <!--<a routerLink="/register" class="btn btn-primary">Sign Up</a>
        <a routerLink="/" class="btn btn-link">Cancel</a>


        
      </form>-->

      <router-outlet></router-outlet>  